<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username" required>
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId" required>
            <input id="desc" type="text" name="description" placeholder="description" required>
            <input id="dur" type="number" name="duration" placeholder="duration (mins.)" required>
            <input id="dat" type="date" name="date" required>
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/user-log" method="post">
            <h3>See user Exercise Log</h3>
            <p><code>POST /api/exercise/user-log</code></p>
            <input id="username-log" type="text" name="username" placeholder="username" required>
            <input id="dateStart" type="date" name="dateStart">
            <input id="dateEnd" type="date" name="dateEnd">
            <input id="limit" type="number" name="limit" placeholder="# of logs to see">
            <input type="submit" value="Submit">
          </form>
      </div>
   </body>

</html>
